*{
  box-sizing: border-box;
}

.flex-container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-content:center;
}

.item{
  justify-content: center;
}

body{
  background-color: rgb(178, 216, 247);
}
