#header{
  display:flex;
  flex-direction: column;
}

#header > h1{
  background:black;
  color:white;
  height:60px;
  font-size:35px;
}

#header > h2{
  background: rgb(84, 84, 85);
  color:white;
  height: 30px;
}

@media only screen and (min-width:678px){
  .flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #header{
    display:flex;
    justify-content: center;
  }

  h1,h2{
    text-align: center;
  }
}

#result{
  font-size:35px;
  margin-top:5%;
  text-align: center;
}

#return{
  font-size:25px;
  margin-top:3%;
  text-align:center;
}